<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>socket_First</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  	<servlet>
		<servlet-name>firstPage</servlet-name>
		<servlet-class>FrontController.firstPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>firstPage</servlet-name>
		<url-pattern>/Welcome_FirstPage.go</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Socket_First</servlet-name>
		<servlet-class>FrontController.firstPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Socket_First</servlet-name>
		<url-pattern>/Socket.go</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>jsConnection</servlet-name>
		<servlet-class>FrontController.firstPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jsConnection</servlet-name>
		<url-pattern>/jscon.go</url-pattern>
	</servlet-mapping>
  
</web-app>